@{
    int Id = 0;
    try
    {
        Id = Convert.ToInt32(Request.Cookies["Id"].Value.ToString());
    }
    catch
    {
        Id = 0;
    }

}
@if (Id != 0)
{
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="@Url.Action("Index", "Agendamentos")" class="brand-logo center">
                    <i class="material-icons left">home</i>
                    Home
                </a>
                <ul id="nav-mobile" class="right">
                    <li><a href="@Url.Action("Index", "Agendamentos")"><i class="material-icons">date_range</i></a></li>
                    <li><a href="@Url.Action("Logout", "Login")"><i class="material-icons">person_pin</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
}
else
{

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="@Url.Action("Index", "Agendamentos")" class="brand-logo center">
                    <i class="material-icons left">ome</i>
                    Home
                </a>
                <ul id="nav-mobile" class="right">
                    <li><a href="@Url.Action("Create", "Usuarios")"><i class="material-icons">person_add</i></a></li>
                    <li><a href="@Url.Action("Index", "Login")"><i class="material-icons">account_circle</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
}
